<html>
    <head>
        <meta charset="utf-8"/>
        <title>Dog Classifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </head>
    <body>
        <nav class="nav-site">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        <h1>About us</h1>
        <h3> Mohamed Shawky</h3>
        <ul>
            <li><a href="http://www.linkedin.com/in/mohamed-shawky-5b6897a9">Linked In</a></li>
            <li><a href="https://github.com/mohshawky5193">Github</a></li>
            <li><a href="https://medium.com/@mohcufe">Medium</a></li>
        </ul>
    </body>
</html>